.gridContent {
  grid-area: content;
  padding: 1.5em 1em 1em 1em;
}
.contentTable {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  column-gap: 1em;
  row-gap: 0.2em;
  padding-bottom: 1em;
  justify-content: center;
}
